<launch>
<param name="robot_description" textfile="$(find map_and_state)/atrv.urdf"/>    
<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
<node name="map_server" pkg="map_server" type="map_server" args="$(find map_and_state)/map.yaml">
<param name="topic_id" value="map"/>
</node>

<node name="map_server_allowed" pkg="map_server" type="map_server" args="$(find map_and_state)/map_allowed.yaml">
<param name="topic_id" value="allowed_area"/>
</node>
</launch>
